---
import Layout from "../layouts/Layout.astro";
import ProjectsData from "../data/ProjectsData.json";
import { Image } from "astro:assets";
---

<Layout title="Projects | Arikato111">
  <main>
    <div class="frame dark:bg-black dark:text-slate-200">
      <div class="my-10 text-center">
        <h1 class="font-bold text-3xl sm:text-4xl md:text-5xl">My Projects</h1>
        <h2 class="texl-lg sm:text-xl md:text-2xl">
          about website, program and others
        </h2>
      </div>

      <div class="bg-gray-50 py-1 bg-dark">
        <div class="box-lg">
          {
            ProjectsData.map((project, idx) => (
              <div
                class={`my-20 px-5 ${idx % 2 !== 0 ? "flex-row-reverse" : "flex-row"} sm:flex`}
              >
                <div class="px-3 relative flex-1">
                  <Image
                    class="w-full rounded-lg object-fill shadow"
                    src={project.img}
                    alt={project.title}
                    width={500}
                    height={300}
                    title={project.title}
                  />
                </div>
                <div
                  class={`flex-1 px-3 ${idx % 2 !== 0 ? "sm:text-right" : ""}`}
                >
                  <a
                    class="hover:underline"
                    target="_blank"
                    href={project.source}
                  >
                    <h4 class="my-3 text-slate-800 dark:text-slate-200 text-3xl font-bold">
                      {project.title}
                    </h4>
                  </a>
                  <div class="dark:text-slate-300">{project.descript}</div>
                  {!!project.link.length && (
                    <div class="my-3 underline">
                      <a href={project.link} target="_blank">
                        preview
                      </a>
                    </div>
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
